:root {
    --dark: #2e2e2e;
    --shadow: 2px 2px;
    --white: #ffffff;
    --light: #f1f1f1;
}

* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

footer a {
    color: var(--dark);
}

/* Layout Grid */

.container {    
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: "h h" "a m" "a f";
}

header {
    color: var(--white);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    grid-area: h;
}

aside {
    /* display: none; */
    padding: 20px;
    background-color: var(--light);
    grid-area: a;
}

main {
    padding: 15px;
    grid-area: m;
}

footer {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: f;
}

@media (max-width: 500px) {
    aside {
        display: none;
    }
}